html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(rgba(253, 251, 247, 0.96), rgba(255, 255, 255, 0.97)), url("./silhouette-skyline-illustration-.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  letter-spacing: 0.05em;
  margin-bottom: var(--space-sm);
}

.accent-font{
  font-size: 18px;
  font-family: var(--font-accent);
  letter-spacing: 0.05em;
  font-weight:500;
}

p {
  margin-bottom: var(--space-md);
}

a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
}
