@import './base.css';
@import './variables.css';
@import './components.css';
@import './layout.css';

.home-view{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 100%;
  
  .places{
    padding: 2em;

  }
  .achievements{
    background-color: var(--color-primary-light);
    padding: 2em;
    display: flex;
    justify-content: center;
  }
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 2rem;
  }
} */
